@model IEnumerable<ProyectoInventario.Models.Product>

@{
    ViewData["Title"] = "Catalogo";  
}

<section id="catalogue" class="catalogue section-bg">

  <div class="container">
    <div class="section-title">
          <h2 data-aos="fade-in">Calzados terminados</h2>
        </div>
        <div class="container-buscar">
    <form>
        <input class="form-control buscar-producto" type="search" placeholder="Buscar" aria-label="Search"
            value=" @ViewData["Getemployeedetails2"]" name="Searchpro">
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
</div>
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-lg-4 catalogue-item filter-app">
            <div style="text-align:center;" >
                    <img class="card-img-top" height="200"
                       src="@Url.ActionLink("MostrarImagen","Catalogo",new { id=item.Id })"
                    alt="@item.ImagenName"  />
                  </div>
              
                <div class="catalogo" style="height: 200px;background-color: white;">
				<div style="text-align:center;" class="card-body" >
                  <h5 class="card-title" style="color: black;">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                  <p class="card-text" style="color: black;">Stock: @Html.DisplayFor(modelItem => item.Stock)</p>
                  <div style="margin-top: 30px;">
            
						<div class="col" style="text-align: center;">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>    
                  <a class="btn btn-light" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </div>
              </div>
            </div>
            </div>
            </div>
            }

            </section>
         </div>
        </div>
      </div>
    </div>
  </div>